
 /* slide */
 .slideimg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.slides img {
  width: 1935px;
  height: 475px;
  left: -685px;
  top: -240px;
  position: relative;

}

.slideshow-container {
  position: relative;
  max-width: 600px;
  margin: auto;
}

/* BONAFIDE */
.btn1{
  display: flex;
  position: relative;
  top:-484px;
}

.btn2{
  display: flex;
  position: relative;
  top:-484px;
  z-index: 0;
  margin-bottom: -553px;
}
.bonafide1{
  
  background-color: #FFDE00;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;

  left: 36px;
  width: 400px;
  position: relative;
}

.bonafide2{
  
  background-color: #FFDE00;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;
  box-sizing: border-box;

  left: 300px;
  width: 400px;
  position: relative;
}

.bonafide3{
  
  background-color: #FFDE00;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;
  box-sizing: border-box;
 
  left: 570px;
  width: 400px;
  position: relative;
}
.bonafide4{
  
  background-color: #d9505d;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;

  left: 36px;
  width: 400px;
  position: relative;
}

.bonafide5{
  
  background-color: #d9505d;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;
  box-sizing: border-box;

  left: 300px;
  width: 400px;
  position: relative;
}

.bonafide6{
  
  background-color: #d9505d;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;
  box-sizing: border-box;
 
  left: 570px;
  width: 400px;
  position: relative;
}





/* footer */


footer {
  background-color: #35373a;
  padding: 20px;
  color: #f0f0f0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #555;
  text-decoration: none;
}

ul li a:hover {
  color: #000;
}

.footer-bottom {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 12px;
}



/* text slide */

.slider-container {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
  height: 231px;
}


.slider-content {
  display: flex;
  flex-direction: column;
 
}



/* text color of link */
.textclr{
  color: #000;
}


/* Bonfide form  bomafide.php*/

form{
  display: flex;
  flex-direction: column;
  margin-top: 301px;
  top: -164px;
  position: relative;
}

input{
  position: relative;
  display: flex;
}
input[name="uname"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="fname"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="year"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="date"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="branch"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="clsrollno"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="sesion"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="fees"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="bankname"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}
input[name="bankno"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}input[name="ifsc"] {
  background-color: #e2e9eb;;
  margin: 0px 505px 17px 491px;
}

input[name="submit"] {
  background-color: #859397;
  margin: 39px 912px -59px 897px;
  color:white;
}
.required {
  color: red;
  margin-left: 5px;
}

.lbl{
  position: relative;
  display: flex;
  margin: 0px 0px 0px 491px;
}
.ttl{
  position: relative;
  display: flex;
  margin: 46px 0px -105px 742px;
}

.alrt1{
  color: white;
  position: relative;
  display: flex;
  z-index: 1;
  top: 1055px;
  left: 862px;
  margin-right: 1722px;
  background-color: #6f7c73
}
.alrt2{
  top: -2px;
    position: relative;
    display: flex;
    z-index: 1;
    margin: -4px 0px 0px 865px;
}

/* Registration */
.register{
  display: flex;
  position: relative;
  padding: 10px 0px 0px 821px;

}

.rform{
  align-items: center;
  display: flex;
  position: relative;

}
.usr{
  margin: 0px 549px 31px 250px;

  display: flex;
  position: relative;
  }
.ps{
  margin: 0px 549px 31px 250px;

display: flex;
position: relative;
}

.cps{
  margin: 0px 549px 31px 250px;

display: flex;
position: relative;

}
.l{
  margin: 0px 0px 0px 251px;
  position: relative;
  display: flex;


}
.ms{
  margin: -81px 0px 25px 0px;
}
.btnn{
  background-color: #555;
  color: white;
  border: 1px solid black;
}
.alert1{
  margin: 29px 889px 0px 856px;
    display: flex;
    position: relative;
    /* background-color: #d13b3b; */
    color: #d11414;
}

/* login */
.clg{
  display: flex;
  position: relative;
}